.eazyedit {display: none;} /* we do this so eazy edit is hidden even if it doesn't get a wrapper (to hide for ie6 */
.eazyedit-wrapper {position: relative; min-height:10px;}
.eazyedit-wrapper:hover .eazyedit {display:block}
.eazyedit-wrapper .eazyedit { font:normal 10px arial !important; white-space:nowrap; overflow:visible; position: absolute; right: 0; top: 0; z-index: 4000; border: 1px solid #ddd !important; padding: 0px 2px !important; background-color: #fff; color:#ddd;clear:both}
.eazyedit-wrapper .eazyedit {filter:alpha(opacity=75);-moz-opacity:0.75;-khtml-opacity: 0.75;opacity: 0.75;} /*background opacity*/
.eazyedit-wrapper .eazyedit a {color:#666 !important; font-weight:normal !important; text-decoration:none !important; line-height:12px !important } 
.eazyedit-wrapper .eazyedit a:hover {text-decoration:underline !important}
.eazyedit-wrapper .eazyedit-wrapper .eazyedit {top:15px}
.block .views-admin-links {display:none !important} /* hide views admin links and use ours instead */
.nodeblock_edit, .nodeblock_configure {display:none !important} /* hide nodeblock default links and use ours instead */
